*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --pixel-size: 8px;
}


body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: auto;
  gap: 100px;
}

body, input, button {
  font-family: "Chakra Petch", sans-serif;
}

p {
  color: white;
}

#game-board {
  border-radius: 100px;
  display: grid;
  --grid-cell: calc(var(--pixel-size) * 16);
}

.camera {
  width: calc(var(--pixel-size)*192);
  height: calc(var(--pixel-size)*108);
  overflow: hidden;
  position: relative;
}

.map {
  background: url(assets/image.jpeg);
  background-size: cover;
  width: calc(13*var(--grid-cell));
  height: calc(10*var(--grid-cell));
  position: relative;
  transition: filter 0.4s;
}


.character{
  width: calc(1.5*var(--grid-cell));
  height: calc(2*var(--grid-cell));
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hud{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(1.2*var(--grid-cell));
}


.blobs {
  position: absolute;
  width: 80px;
  height: 80px;
}

.blobs img {
  width: 100%;
}

.nidalee, .graves, .taliyah {
  width: calc(1.5*var(--grid-cell));
  height: calc(2*var(--grid-cell));
}

.animation{
  transition: transform 1s ease;
}

.taliyah-animation {
  transition: transform 2s linear;
}

.spear-animation {
  transition: transform 0.6s linear;
}

.nidalee img {
  width: 80%;
  height: 100%;
}

.taliyah img {
  width: 80%;
}

.character img {
  width: 110%;
  height: 120%;

}

.color {
  background: red;
}

.menu {
  position: absolute;
  top: 100px;
  right: 650px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(assets/Zac_0.jpg);
  background-size: auto;
  gap: 10px;
  padding: 200px 40px;
  border: rgb(0, 230, 96) solid 10px;
  border-radius: 2px;
  z-index: 999;
}

.menu h1 {
  color: white;
  font-size: 64px;
  margin-bottom: -20px;
}

.menu input {
  padding: 4px;
  width: 300px;
  height: 40px;
  border: rgb(0, 230, 96) solid 3px;
}

.menu form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu button {
  padding: 12px;
  font-size: 16px;
  border: rgb(0, 230, 96) solid 3px;
  width: 300px;
}

.game-border {
  border: rgb(0, 230, 96) solid 10px;
  border-radius: 10px;
}

#instruction-text {
  position: absolute;
  top: 60%;
  text-align: center;
  border: 10px solid rgb(0, 230, 96);
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.scores{
  display: flex;
  justify-content: space-between;
}

#score{
  color: rgb(0, 230, 96);
}

.hidden {
  display: none;
}

.spear {
  width: calc(2*var(--grid-cell));
}

.rock {
  width: calc(1*var(--grid-cell));
  height: calc(.2*var(--grid-cell));
}

.rock img {
  width: 100%;
  height: 100%;
}

.spear img {
 width: 100%;
}

#logo {
  position: absolute;
  z-index: -1;
}

.graves {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.graves img {
  width: 100%;
}

#smoke {
  z-index: -1;
}

.character, .nidalee, .graves {
  position: absolute;
  top: 0;
  left: 0;
}

.spear {
  position: absolute;
  top: calc(var(--pixel-size)*20);
  left: calc(var(--pixel-size)*(-18));
}

.smoke{
  position: absolute;
  top: calc(var(--pixel-size)*20);
  left: calc(var(--pixel-size)*(-4));
}

.blobs{
  position: absolute;
  top: calc(var(--pixel-size)*28);
  left: calc(var(--pixel-size)*8);
}

.shot{
  position: absolute;
  top: calc(var(--pixel-size)*30);
  left: calc(var(--pixel-size)*12);
}

.rock{
  position: absolute;
  top: calc(var(--pixel-size)*20);
  left: calc(var(--pixel-size)*14);
}

.dark {
  filter: brightness(3%);
}
